/* 
    Created on : 11.02.2016, 11:28:28
    Author     : root
*/

.myinput {
    background-repeat: no-repeat;
    background-position:right;
}

.mylabel {
display:inline-block;
width:160px;
text-align:left;
}

.myDropDown {
    width:157px;
    
}

.mydiv {
    text-align:left;
}


#addressModal .modal-dialog .modal-content {
    width:400px;
}

#addressModal .modal-dialog .modal-content .modal-header{
    text-align:center;
}